<!-- Adicionar conteudo index -->
<div id="home">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Jarbas</a>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right ">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Recursos</a></li>
          <li><a href="#">Documentação</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>Conteudo</h1>
  </div>


</div>
